<section id='aboutcoach'>
  <div class="row">
    <%=raw @page.content_for(:coach) %>
  </div>
</section>
</br>
<div class="row">
  <ul class="clearing-thumbs small-block-grid-8" data-clearing>
    <li><%= image_tag("certs/001.jpg") %></li>
    <li><%= image_tag("certs/002.jpg") %></li>
    <li><%= image_tag("certs/003.jpg") %></li>
    <li><%= image_tag("certs/004.jpg") %></li>
    <li><%= image_tag("certs/005.jpg") %></li>
    <li><%= image_tag("certs/006.jpg") %></li>
    <li><%= image_tag("certs/007.jpg") %></li>
    <li><%= image_tag("certs/008.jpg") %></li>
    <li><%= image_tag("certs/009.jpg") %></li>
    <li><%= image_tag("certs/010.jpg") %></li>
    <li><%= image_tag("certs/011.jpg") %></li>
    <li><%= image_tag("certs/012.jpg") %></li>
    <li><%= image_tag("certs/013.jpg") %></li>
    <li><%= image_tag("certs/014.jpg") %></li>
    <li><%= image_tag("certs/015.jpg") %></li>
    <li><%= image_tag("certs/016.jpg") %></li>
    <li><%= image_tag("certs/017.jpg") %></li>
    <li><%= image_tag("certs/018.jpg") %></li>
    <li><%= image_tag("certs/019.jpg") %></li>
    <li><%= image_tag("certs/020.jpg") %></li>
    <li><%= image_tag("certs/021.jpg") %></li>
    <li><%= image_tag("certs/022.jpg") %></li>
    <li><%= image_tag("certs/023.jpg") %></li>
    <li><%= image_tag("certs/024.jpg") %></li>
    <li><%= image_tag("certs/025.jpg") %></li>
    <li><%= image_tag("certs/026.jpg") %></li>
    <li><%= image_tag("certs/027.jpg") %></li>
    <li><%= image_tag("certs/028.jpg") %></li>
    <li><%= image_tag("certs/029.jpg") %></li>
  </ul>
</div>

<section id='aboutteam'>
  <div class="row">
    <%=raw @page.content_for(:team) %>
  </div>
</section>
