<!-- Image Slider -->
<section id='image_slider' style="width:100%;">
<div class='slideshow-wrapper'>
  <div class='preloader'></div>
  <ul data-orbit data-options="slide_number:false; swipe:true; timer_speed:2000; bullets:false; slide_selector:li;">
    <li>
      <%= image_tag("cover1.jpg") %>
    </li>
    <li>
      <%= image_tag("cover2.jpg") %>
    </li>
    <li>
      <%= image_tag("cover3.jpg") %>
    </li>
    <li>
      <%= image_tag("cover4.jpg") %>
    </li>
    <li>
      <%= image_tag("cover5.jpg") %>
    </li>
    <li>
      <%= image_tag("cover6.jpg") %>
    </li>
    <li>
      <%= image_tag("cover7.jpg") %>
    </li>
  <ul>
</div>
</section>
<!-- End Image Slider -->

<!-- Quote -->

<div id="quote" Style="text-align:center; background:#333;">
  <p style="font-size: 1.5em; color:#fff">
    <span>突破</span> 競爭走出自己的獨特格調,改變對<span>"量"</span>的迷思,提升對<span>"質"</span>的服務,
    <br/>
    <span>---小鬍子親自服務---</span>
    <br/>
    20年活動經驗,親自帶領;20年廚藝經驗,親自料理,每次活動<span>限定一團</span>
    <br/>
    量身安排適合您的體驗學習項目,用朋友的心來服務您
    <br/>
    不打廣告,口碑相傳,與您相遇是我們的緣份!!
    <br/>
    交個朋友吧!! 讓我們共同學習成長,親山遊水,開闊視野!!
  </p>
</div>

<!--End Quote -->


<!-- Social Bar -->
<div class="row" style="text-align:center;">
  <div id="socialbar">
    <ul>
      <li>
        <a href="https://www.facebook.com/xhz.school" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
      </li>
      <li>
        <a href="https://www.youtube.com/watch?v=HOFfHIIvfyA&index=2&list=PLpsU-h5tBiLpDr33AUPSBjrevtltE7puv" target="_blank"><i class="fa fa-youtube fa-2x"></i></a>
      </li>
      <li>
        <a href="https://plus.google.com/u/0/+XhzTw/about" target="_blank"><i class="fa fa-google-plus-square fa-2x"></i></a>
      </li>
      <li>
        <a href="https://plus.google.com/u/0/+XhzTw/photos" target="_blank"><i class="fa fa-picture-o fa-2x"></i></a>
      </li>
    </ul>
  </div>
</div>

<!-- End Social Bar -->


<!-- News Section -->
<div id="newssect">
  <div class="small-3 small-centered columns homesection">
    <h1>最新消息</h1>
    <i class="fa fa-newspaper-o fa-2x"></i>
  </div>
  </br>
  <div class="row">
    <div class="panel">
      <%=raw @page.content_for(:body) %>
    </div>
    </div>
  </div>
</div>
<!-- News Section End-->

<!-- Services Section-->

<div id="servicesect">
  <div class="small-3 small-centered columns homesection">
    <h1>服務項目</h1>
    <i class="fa fa-compass fa-2x"></i>
  </div>

  </br>

  <div class="row">
    <div class="medium-4 columns" style="text-align:center;">
      <a href="/活動體驗"><img src="/front1.jpg"/></a>
      <h4>活動體驗</h4>
      <p></p>
    </div>
    <div class="medium-4 columns" style="text-align:center;">
      <a href="/課程訓練"><img src="/front2.jpg"/></a>
      <h4>課程訓練</h4>
      <p></p>
    </div>
    <div class="medium-4 columns" style="text-align:center;">
      <a href="/專案規劃"><img src="/front3.jpg"/></a>
      <h4>專案規劃</h4>
      <p></p>
    </div>
  </div>
</div>
</hr>
<!-- Services Section End-->


<!--Attention Section-->

<div id="attsect">
  <div class="small-12 small-centered columns" style="text-align:center;">
    <h1>你還在等什麼? 我們去冒險吧!</h1>
  </div>
</div>


<!--END Attention Section-->



<!-- Contact Section -->
<div id="contactsect">
  <div class="small-3 small-centered columns homesection">
    <h1>聯絡我們</h1>
    <i class="fa fa-envelope-o fa-2x"></i>
  </div>
  </br>
  <div class="comp-info">
    <ul>
      <li><i class="fa fa-phone"></i> 02-2215-9019</li>
      <li><i class="fa fa-mobile"></i> 09-3962-5099</li>
      <li><i class="fa fa-fax"></i> 02-2215-9004</li>
      <li><i class="fa fa-send"></i> xhz.robin@gmail.com</li>
      <li><i class="fa fa-map-marker"></i> 23156 新北市新店區雙城路60巷16弄1號</li>
    </ul>
  </div>

  <div class="medium-12 columns">
    <div class="medium-6 medium-push-6 columns">

      <!-- Google Maps -->
      <div id="interchangeMarkup" data-interchange="[interchange-default.html, (default)], [interchange-medium.html, (medium)], [interchange-large.html, (large)]" data-uuid="interchange-i2j1494p1">

        <!-- The element that will contain our Google Map. This is used in both the Javascript and CSS above. -->
        <div id="map" style="width:100%; height:400px;"></div>
      </div>
      <!-- END Google Maps -->
    </div>
    <form>
      <div class="medium-6 medium-pull-6 columns">
        <label>您的大名
          <input type="text" placeholder="" />
        </label>
      </div>
      <div class="medium-6 medium-pull-6 columns">
        <label>您的聯絡電話
          <input type="text" placeholder="" />
        </label>
      </div>
      <div class="medium-6 medium-pull-6 columns">
        <label>您的電子信箱
          <input type="text" placeholder="" />
        </label>
      </div>
      <div class="medium-6 medium-pull-6 columns">
        <label>想參加活動
          <input type="text" placeholder="" />
        </label>
      </div>
      <div class="medium-6 medium-pull-6 columns">
        <label>您想反應的狀況，建議，或諮詢事項
          <textarea placeholder=""></textarea>
        </label>
      </div>
      <div class="medium-6 medium-pull-6 columns">
        <input type="submit" tabindex="0" class="button expand" value="發送"/>
      </div>
    </form>
  </div>
</div>
<div class="row clear-fix"></div>
</br>
<!-- End Contact Section -->
