<!-- Image Slider -->
<section id='image_slider' style="width:100%;">
<div class='slideshow-wrapper'>
  <div class='preloader'></div>
  <ul data-orbit data-options="slide_number:false; swipe:true; timer_speed:2000; bullets:false; slide_selector:li;">
    <li>
      <%= image_tag("cover1.jpg") %>
    </li>
    <li>
      <%= image_tag("cover2.jpg") %>
    </li>
    <li>
      <%= image_tag("cover3.jpg") %>
    </li>
    <li>
      <%= image_tag("cover4.jpg") %>
    </li>
    <li>
      <%= image_tag("cover5.jpg") %>
    </li>
    <li>
      <%= image_tag("cover6.jpg") %>
    </li>
    <li>
      <%= image_tag("cover7.jpg") %>
    </li>
  <ul>
</div>
</section>
<!-- End Image Slider -->

<!-- Quote -->

<section id="quote">
  <%=raw @page.content_for(:quote) %>
</section>


<!--End Quote -->


<!-- Social Bar -->
<section id="servicesect">
  <div class="small-3 small-centered columns homesection">
    <h1>加入紛絲團</h1>
  </div>

  <div class="row" style="text-align:center;">
    <div id="socialbar">
      <ul>
        <li>
          <a href="https://www.facebook.com/xhz.school" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
        </li>
        <li>
          <a href="https://www.youtube.com/watch?v=HOFfHIIvfyA&index=2&list=PLpsU-h5tBiLpDr33AUPSBjrevtltE7puv" target="_blank"><i class="fa fa-youtube fa-2x"></i></a>
        </li>
        <li>
          <a href="https://plus.google.com/u/0/+XhzTw/about" target="_blank"><i class="fa fa-google-plus-square fa-2x"></i></a>
        </li>
        <li>
          <a href="https://plus.google.com/u/0/+XhzTw/photos" target="_blank"><i class="fa fa-picture-o fa-2x"></i></a>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- End Social Bar -->


<!-- News Section -->
<section id="newssect">
  <div class="small-3 small-centered columns homesection">
    <h1>最新消息</h1>
    <i class="fa fa-newspaper-o fa-2x"></i>
  </div>
  </br>
  <div class="row">
    <div class="panel">
      <%=raw @page.content_for(:news) %>
    </div>
  </div>
</section>
<!-- News Section End-->


<!--Attention Section-->

<section id="attsect">
  <div class="small-12 small-centered columns" style="text-align:center;">
    <%=raw@page.content_for(:attention) %>
  </div>
</section>


<!--END Attention Section-->



<!-- Contact Section -->
<section id="contactsect">
  <div class="small-3 small-centered columns homesection">
    <h1>聯絡我們</h1>
    <i class="fa fa-envelope-o fa-2x"></i>
  </div>
  </br>
  <div class="comp-info">
    <ul>
      <li><i class="fa fa-phone"></i> 02-2215-9019</li>
      <li><i class="fa fa-mobile"></i> 0939-625-099</li>
      <li><i class="fa fa-fax"></i> 02-2215-9004</li>
      <li><i class="fa fa-send"></i> xhz.robin@gmail.com</li>
      <li><i class="fa fa-map-marker"></i> 23156 新北市新店區雙城路60巷16弄1號</li>
    </ul>
  </div>

  <div class="medium-12 columns">
    <div class="medium-6 medium-push-6 columns">

      <!-- Google Maps -->
      <div id="interchangeMarkup" data-interchange="[interchange-default.html, (default)], [interchange-medium.html, (medium)], [interchange-large.html, (large)]" data-uuid="interchange-i2j1494p1">

        <!-- The element that will contain our Google Map. This is used in both the Javascript and CSS above. -->
        <div id="map" style="width:100%; height:400px;"></div>
      </div>
      <!-- END Google Maps -->
    </div>
    <form>
      <div class="medium-6 medium-pull-6 columns">
        <label>您的大名
          <input type="text" placeholder="" />
        </label>
      </div>
      <div class="medium-6 medium-pull-6 columns">
        <label>您的聯絡電話
          <input type="text" placeholder="" />
        </label>
      </div>
      <div class="medium-6 medium-pull-6 columns">
        <label>您的電子信箱
          <input type="text" placeholder="" />
        </label>
      </div>
      <div class="medium-6 medium-pull-6 columns">
        <label>想參加活動
          <input type="text" placeholder="" />
        </label>
      </div>
      <div class="medium-6 medium-pull-6 columns">
        <label>您想反應的狀況，建議，或諮詢事項
          <textarea placeholder=""></textarea>
        </label>
      </div>
      <div class="medium-6 medium-pull-6 columns">
        <input type="submit" tabindex="0" class="button expand" value="發送"/>
      </div>
    </form>
  </div>
</section>
<div class="row clear-fix"></div>
</br>
<!-- End Contact Section -->
