<!-- Team content -->
<section id="serviceoffering">
  <div class="row">
    <%=raw @page.content_for(:body) %>
  </div>
</section>
<!--end Team content -->
<div class="row show">
  <ul class="clearing-thumbs small-block-grid-4" data-clearing>
    <li style="text-align:center;"><%= image_tag("team/001.jpg") %></br><span>FOX-TV</span></li>
    <li style="text-align:center;"><%= image_tag("team/002.jpg") %></br><span>Interface</span></li>
    <li style="text-align:center;"><%= image_tag("team/003.jpg") %></br><span>宏達電</span></li>
    <li style="text-align:center;"><%= image_tag("team/004.jpg") %></br><span>宏達電</span></li>
    <li style="text-align:center;"><%= image_tag("team/005.jpg") %></br><span>宏達電</span></li>
    <li style="text-align:center;"><%= image_tag("team/006.jpg") %></br><span>宏達電</span></li>
    <li style="text-align:center;"><%= image_tag("team/007.jpg") %></br><span>德州儀器</span></li>
    <li style="text-align:center;"><%= image_tag("team/008.jpg") %></br><span>德州儀器</span></li>
    <li style="text-align:center;"><%= image_tag("team/009.jpg") %></br><span>德州儀器</span></li>
    <li style="text-align:center;"><%= image_tag("team/010.jpg") %></br><span>士林教會</span></li>
    <li style="text-align:center;"><%= image_tag("team/011.jpg") %></br><span>艾波比</span></li>
    <li style="text-align:center;"><%= image_tag("team/012.jpg") %></br><span>黑松沙士</span></li>
    <li style="text-align:center;"><%= image_tag("team/013.jpg") %></br><span>黑松沙士</span></li>
    <li style="text-align:center;"><%= image_tag("team/014.jpg") %></br><span>黑松沙士</span></li>
    <li style="text-align:center;"><%= image_tag("team/015.jpg") %></br><span>黑松沙士</span></li>
  </ul>
</div>
